<div labout padding>
  <md-sidenav
         class="md-sidenav-left"
         md-component-id="left"
         md-is-locked-open="true"
         md-whiteframe="4">
       <md-toolbar class="md-theme-indigo">
         <h1 class="md-toolbar-tools">Sidenav</h1>
       </md-toolbar>
       <md-content layout-padding ng-controller="LeftCtrl">
         <ul>
           <li><a ui-sref="basicProfile" ui-sref-active="active">Basic Profile</a></li>
           <li><a ui-sref="budget" ui-sref-active="active">Budget</a></li>
           <li><a ui-sref="balanceSheet" ui-sref-active="active">Balance Sheet</a></li>
           <li><a ui-sref="creditReport" ui-sref-active="active">Credt Report</a></li>
           <li><a ui-sref="summary" ui-sref-active="active">Summary</a></li

         </ul>
         <md-button ng-click="close()" class="md-primary" hide-gt-md>
           Close Sidenav Left
         </md-button>
       </md-content>
      </md-sidenav>
</div>
