<div layout="column">
  <form name="userForm">
    <div layout-gt-xs="row">

      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Company (Disabled)</label>
          <input ng-model="user.company">
        </md-input-container>

        <md-input-container>
          <label>Enter date</label>
          <md-datepicker ng-model="user.submissionDate"></md-datepicker>
        </md-input-container>
      </div>





      <md-input-container>
        <label>Do you own or rent?</label>
        <md-radio-group ng-model="data.group1">
          <md-radio-button value="yes" class="md-primary">Yes</md-radio-button>
          <md-radio-button value="no">No</md-radio-button>
        </md-radio-group>
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container>
        <label>Date Purchased</label>
        <md-datepicker ng-model="user.submissionDate"></md-datepicker>
      </md-input-container>
    </div>
  </form>
</div>
